@import url("https://use.typekit.net/iey7yuy.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(100.48deg, #FFB319 2.7%, #F8AD16 37.13%, #BA7E04 100.26%);
    width: 100vw;
    height: 100vh;
    position: relative;
}

h1, h2, a, label {
    font-family: 'azo-sans-web', sans-serif;
    font-weight: 900;
}

.logo {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 293px;
    height: 77px;
    top: 4.5em;
}

.slogan {
    font-size: 23px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 3.2em;
    color: #FCFCF8;
}

.titulo {
    position: relative;
    margin: 0 auto;
    font-size: 34px;
    line-height: 40.8px;
    text-align: center;
    width: 287px;
    height: 125px;
    top: 4em;
    color: #FCFCF8;
}

.container {
    position: absolute;
    left: 1em;
    right: 1em;
    top: 27em;
    background: #FCFCF8;
    box-shadow: 0px -7px 14px rgba(0, 0, 0, 0.25);
    border-radius: 50px 50px 50px 50px;
    padding-bottom: 8em;
}

.container-nl {
    position: absolute;
    left: 1em;
    right: 1em;
    top: 14em;
    max-height: 600px;
    max-width: 400px;
    background: #FCFCF8;
    box-shadow: 0px -7px 14px rgba(0, 0, 0, 0.25);
    border-radius: 50px 50px 50px 50px;
    padding-bottom: 6em;
}

.subtitulo-nl {
    position: relative;
    width: 274px;
    height: 25px;
    top: 1.6em;
    margin: 0 auto;
    font-size: 26px;
    line-height: 31.2px;
    text-align: center;
    color: #FFB319;
}

form {
    position: relative;
    top: 4.5em;
    padding: 0em 1.5em;
}

label {
    color: #FFB319;
}

input[type=text], select {
    width: 100%;
    padding: 1.3em 1.5em;
    display: inline-block;
    margin: 0.2em 0;
    margin-bottom: 1.7em;
    background: #FAFAF8;
    border: 1px solid rgba(70, 48, 3, 0.85);
    border-radius: 10px;
    box-sizing: border-box;
}

input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

select {
    color: gray;
    font-size: 16px;
    padding: 1em 1.5em;
    display: inline-block;
}

select:focus {
    color: #BA7E04;
}

option {
    color: black;
}

option:first-of-type {
    color: #BA7E04;
}

input[type=submit] {
    position: relative;
    margin: 0 auto;
    padding: 1em 6.7em;
    background: #FFB319;
    box-shadow: 0px 4px 4px rgba(217, 216, 216, 0.75);
    border: none;
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submit {
    font-family: 'azo-sans-web', sans-serif;
    font-weight: 900;
    font-size: 16px;
    color: #FCFCF8;
}

.subtitulo {
    position: relative;
    width: 274px;
    height: 94px;
    top: 1.6em;
    margin: 0 auto;
    font-size: 26px;
    line-height: 31.2px;
    text-align: center;
    color: #FFB319;
}


.botao {
    position: relative;
    margin: 0 auto;
    width: 20em;
    height: 3.5em;
    top: 5.7em;
    background: #FFB319;
    box-shadow: 0px 4px 4px rgba(217, 216, 216, 0.75);
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-area {
    text-align: center;
    position: relative;
    text-align: center;
}

a {
    text-decoration: none;
    color: #FCFCF8;
    padding: 17px 118px;
}

.container-add {
    position: absolute;
    left: 1em;
    right: 1em;
    top: 15em;
    max-height: 600px;
    background: #FCFCF8;
    box-shadow: 0px -7px 14px rgba(0, 0, 0, 0.25);
    border-radius: 50px 50px 50px 50px;
    padding-bottom: 11em;
    text-align: center;
}

.titulo-add {
    position: relative;
    width: 248px;
    height: 84px;
    font-size: 26px;
    margin: 0 auto;
    top: 1.5em;
}

.access-text {
    height: 59px;
    width: 207px;
    top: 5em;
    font-size: 23px;
    margin: 0 auto;
    position: relative;
}

.add-button {
    position: relative;
    margin: 0 auto;
    width: 19em;
    height: 3.5em;
    top: 9em;
    background: #FFB319;
    box-shadow: 0px 4px 4px rgba(217, 216, 216, 0.75);
    border-radius: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'azo-sans-web', sans-serif;
    font-size: 16px;
    color: #FAFAF8;
    font-weight: 800;
}