@import url("https://use.typekit.net/iey7yuy.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: #fcfcf8;
    width: 100vw;
    height: 100vh;
    position: relative;
}

h1, h2, a {
    font-family: 'azo-sans-web', sans-serif;
    font-weight: 900;
}

.icon {
    position: relative;
    margin: 0 auto;
    display: flex;
    width: 104px;
    height: 69px;
    top: 3.5em;
}

.container3 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 16.5%;
    background-image: linear-gradient(100.48deg, #FFB319 2.7%, #F8AD16 37.13%, #BA7E04 100.26%);
    box-shadow: 0px -4px 14px rgba(222, 217, 217, 0.63);
    border-radius: 30px 30px 0px 0px;
}

.title {
    position: relative;
    margin: 0 auto;
    font-size: 26px;
    line-height: 40.8px;
    text-align: left;
    width: 222px;
    height: 57px;
    top: 1.5em;
    color: #FCFCF8;
}

.count {
    font-size: 20px;
    color: #fcfcf8;
    top: 4.5em;
    margin-left: 1em;
    position: relative;
}

table {
    border-collapse: collapse;
    font-size: 14px;
    min-width: 500px;
    background-color: #fcfcf8;
    border-radius: 25px;
    width: 90%;
    margin-left: 1.5em;
    margin-right: 1.5em;
    border-spacing: 25px;
}

thead tr {
    text-align: left;
    font-family: 'azo-sans-web', sans-serif;
    height: 39px; 
    color: #FFB319;
}

thead th {
    font-weight: 900;
    padding: 15px;
}

tbody tr {
    height: 39px;
    text-align: left;
    font-family: 'azo-sans-web', sans-serif;
    font-weight: 600;
}

tbody td {
    padding: 15px;
    border-radius: 0;
}

tbody tr:nth-child(odd){ 
    background-color: #f1f1f1;
    border-bottom-right-radius: 20px; }

tbody tr:last-child td {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}


table tbody td {
    padding: 15px;
}

.plustext {
    position: absolute;
    font-family: 'azo-sans-web', sans-serif;
    width: 180px;
    height: 50px;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    right: 4.9em;
    bottom: 1.8em;
    color: #Fcfcf8;
}

.plus-btn {
    position: absolute;
    width: 62px;
    height: 62px;
    right: 1em;
    bottom: 2em;
    background: #FCFCF8;
    box-shadow: 0px 4px 4px #B67F11;
    border-radius: 34px;
}

.sym {
    font-family: 'azo-sans-web', sans-serif;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    color: #FFB319;
    position: relative;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

